@font-face {
  font-family: 'Zeyada';
  src: url('/Left4Dead/assets/Zeyada-Regular.ttf') format('woff');
}

/* Main content */
.main-content {
  min-height: 100vh; /* Set the minimum height to full viewport height */
}

/* Page icon + banner */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  padding-top: 1%;
  border-bottom: 2px solid #000; /* Add border style and width */
}

.banner-title {
  font-size: 60px; /* Adjust the font size as needed */
  font-family: 'Zeyada', cursive; /* Apply the custom font */
  padding-top: 5%;
  margin: 0 20px; /* Add spacing between title and icons */
}

.icon {
  width: 60px; /* Adjust the icon size as needed */
  height: 60px;
  margin: 0 10px; /* Add spacing between icons and text */
}

/* Container for picture and paragraph to be aligned */
.paragraph-picture-play {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Container for video */
.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* BIG TITLE */
/* Center the title and increase font size */
.big-left-title {
    text-align: center;
    font-size: 64px;
    font-family: 'Zeyada', sans-serif; /* Use the Zeyada font for the title */
    font-weight: bolder;
    color: #000;
}

/* Navigation buttons */
.buttons-row {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  /* Style for each button */
  .nav-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
  }

   /* Style for PLAY button */
   .nav-button-play {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #ff0000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
  }
  
/* Hover effect for the PLAY button */
.nav-button-play:hover {
    background-color: #f00000;
}
/* Hover effect for the buttons */

.nav-button:hover {
    background-color: #45a049;
}

/* Donwload button */

.download-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

  .download-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    justify-content: center;
  }
  /* Hover effect for the button */
  .download-button:hover {
    background-color: #45a049;
  }

  .download-button img.left-image,
  .download-button img.right-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* Adjust the image size as needed */
    width: auto;
    height: auto;
  }

  .download-button img.left-image {
    left: -80px;
  }

  .download-button img.right-image {
    right: -100px;
  }

  .download-button:hover img.left-image {
    /* Specify the URL of the image you want to show on hover */
    content: url('/Left4Dead/assets/soldier_shoot.png');
  }

  .download-button:hover img.right-image {
    /* Specify the URL of the image you want to show on hover */
    content: url('/Left4Dead/assets/zombie_dead.png');
  }

  .download-button.final-image-loaded img.left-image {
    /* Specify the URL of the final left image */
    content: url('/Left4Dead/assets/soldier_finish.png');
  }
  
  .download-button.final-image-loaded img.right-image {
    /* Specify the URL of the final right image */
    content: url('/Left4Dead/assets/zombie_finish.png');
  }

  .download-button span {
    flex-grow: 1;
    text-align: center;
  }

/* Background image with gradient */
.background-play {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1)), url("/Left4Dead/assets/background_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

/* Background image with gradient */
.background-more {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1)), url("/Left4Dead/assets/background_image3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

/* Background image with gradient */
.background-home {
  background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url("/Left4Dead/assets/background_image4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.background-media {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1)), url("/Left4Dead/assets/background_image2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
/* Centered youtube video */
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  display: flex;
  justify-content: center;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Back to the top arrow */
#scrollToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}


#scrollToTopButton.show {
  opacity: 1;
}