/* Navigation buttons */
.buttons-row {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  /* Style for each button */
  .nav-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
  }
  
  /* Hover effect for the buttons */
  .nav-button:hover {
    background-color: #45a049;
  }

/* Donwload button */

.download-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

  .download-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    justify-content: center;
  }
  /* Hover effect for the button */
  .download-button:hover {
    background-color: #45a049;
  }

  .download-button img.left-image,
  .download-button img.right-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* Adjust the image size as needed */
    width: auto;
    height: auto;
  }

  .download-button img.left-image {
    left: -80px;
  }

  .download-button img.right-image {
    right: -100px;
  }

  .download-button:hover img.left-image {
    /* Specify the URL of the image you want to show on hover */
    content: url('/Left4Dead/assets/soldier_shoot.png');
  }

  .download-button:hover img.right-image {
    /* Specify the URL of the image you want to show on hover */
    content: url('/Left4Dead/assets/zombie_dead.png');
  }

  .download-button span {
    flex-grow: 1;
    text-align: center;
  }